*{
    padding: 0;
    margin: 0%;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-Light.ttf') format('truetype');
}

/*FRAUCES*/
@font-face {
    font-family: 'Frauces' ;
    src: url('fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') 
    format('truetype');
}





/*HEADER*/
header{
    display: flex;
    flex-direction: row;
    background-color:hsl(200, 100%, 62%) ;
    justify-content: center ;
    font-family: 'Frauces' ;
    width: 100%;
  
}
#logo-img{
    padding: 1rem;
}
.menu ul{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-size: 0.6rem; 
    
}
.menu-list a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    
}
.menu-list li a:hover {
    margin-left: 1rem;
    color: white;
    border-bottom: hsl(197, 64%, 2%);
}

 #ctc{
    background-color: white;
    color: hsl(200, 100%, 62%);
    padding: 0.4rem;
    border-radius: 1rem;
    font-family: 'Frauces';
    
}
#ctc:hover{
    transition-duration: 1s;
    background-color: yellow;
    color: rgb(124, 124, 100);
}

.main-area{
    background: url(images/desktop/image-header.jpg) no-repeat center center/cover;
    height: 60vh; 
    width: 100%;
}
#txt-main{
    color: white;
    text-align: center;
    position: relative;
    top: 2rem;
    z-index: 2;
    font-size: 4rem;
    font-family: 'Frauces' ;
    font-weight: 700;
   
   
}
/* mobile menu*/

 .menu-img{
    display: none;  
}
#menu-list{
    display: none;
}
.menu-list-mobile {
    background-color: white;
    z-index: 3;
    box-shadow: 1px 1px 25px #00000075;
    border-radius: 1rem;
    margin: 3rem;
    
}

.menu-list-mobile li {
   margin-bottom: 1rem;  
}
.menu-list-mobile li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.69);
  
}
.menu-list-mobile li a:hover{
    text-decoration: underline;
   
}




.box{
    display: flex;
    flex-direction: row;
    margin:  auto;
}
.box img {
    width: 100%;
    height: 100%;
}
.txt-box{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 5rem;
}


.box-1 a {
    color: rgba(0, 0, 0, 0.557);
    border-bottom: 0.2rem solid yellow;
    width: 7rem;
    text-decoration: none;
    font-family: 'Frauces' ;
    transition-duration: 0.5s;
   
}
 .box-1 a:hover {
    background-color: yellow;
    border-radius: 1rem;
    padding: 0.3rem;
    width: 7rem;
    color: rgb(194, 194, 71);
    box-shadow: 1rem 0.7rem 2rem rgba(0, 0, 0, 0.178);
  
  
}

 .box-2 a {
    transition-duration: 1ms;
    color: rgba(0, 0, 0, 0.353);
    border-bottom: 0.2rem solid hsl(7, 99%, 70%);
    width: 7rem;
    text-decoration: none;
    font-family: 'Frauces' ;
    transition-duration: 0.5s;
    
}
.box-2 a:hover {
    color: rgba(0, 0, 0, 0.537);
    background-color: hsl(7, 99%, 70%);
    border-radius: 1rem;
    padding: 0.3rem;
    width: 7rem;
    color: hsl(7, 64%, 47%);
    box-shadow: 1rem 0.7rem 2rem rgba(0, 0, 0, 0.402);
  
}


.txt-h1 {
    font-size: 2.5rem;
    width: 20rem;
    margin-bottom: 1rem;
    font-family: 'Frauces';
    font-weight: 700;
}
.txt-p {
    font-size: 1rem;
    width: 20rem;
    margin-bottom: 1rem;
    font-family: 'Barlow';
}

/*images area*/

.box-pic{
    display: flex;
    flex-direction: row;
}
.box-pic img {
    width: 100%;
    height: 100%;
}
#sttr-pic1 {
    background-color: hsl(169, 45%, 70%);
    color: hsl(169, 48%, 37%);
    text-align: center;
    z-index: 2;
    width: 23rem;
    height: 12rem;
}
#sstr-pic2{
    background-color: hsl(199, 100%, 69%);
    color: hsl(199, 58%, 44%);
    text-align: center;
    z-index: 2;
}
.article-pic {
    padding: 4rem 0 4rem 0;
    margin: 0 auto;
    z-index: 2;
    margin-top: -13rem;
    width: 27rem;
    height: 4rem;
}
.txt-h1-pic{
    font-family: 'Frauces';
}
.txt-p-pic{
    font-family: 'Barlow';
}




/*CLIENT AREA*/

.client-area{
    width: 100%;
    height: 70vh;
}
#clt-h1 {
    text-align: center;
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.485);
    font-family: 'Frauces';
    margin: 1rem auto 0;
    width: 30vw;
}

.img-client {
    display: block;
    border-radius: 5rem;
    width: 21%;
    margin: 0 auto;
}

 
.client-spc {
    width: 32%;
    margin-top: 2rem;
    text-align: center;
    transition-duration: 0.3s;
}
.client-spc:hover:first-child{
    border: 0.3rem solid rgba(255, 255, 0, 0.352);
    border-radius: 1rem;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.179);
}

.client-spc:hover:nth-child(2){
    border: 0.3rem solid hsl(169, 45%, 70%);
    border-radius: 1rem;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.179);
}
.client-spc:hover:last-child{
    border: 0.3rem solid hsla(7, 99%, 70%, 0.582);
    border-radius: 1rem;
   padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.179);
}
.clt-p {
    width: 83%;
    text-align: center;
    font-family: 'Barlow';
    font-size: 0.8rem;
    margin: 2rem auto 0;
}
.clt-h2 {
    text-align: center;
    margin-top: 1rem;
    font-family: 'Frauces';
    font-size: 1rem;
}
.clt-p-job {
    text-align: center;
    color: rgba(0, 0, 0, 0.652);
    margin-top: 0.5rem;
    font-family: 'Barlow';
    font-size: 0.7rem;
}
.area-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/*imgs area before footer*/

.imgs-area{
    display: flex;
    flex-direction: row;
}
.img{
    width: 33.3%;
}







/*footer*/
footer{
    background-color: hsl(167, 43%, 70%);
    height: 30vh;
    width: 100%;
}
.items-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.items-footer ul{
    display: flex;
    padding: 1.3rem;
}
#img-logo{
   width: 10rem;
   margin-bottom: 0.5rem;
   
}
.contact-link {
    margin-bottom: 0rem;
}
.contact-link li a{
    color: hsl(168, 45%, 32%);
    margin-left: 1rem;
    font-size: 1rem;
    font-family: 'Frauces';
   text-decoration: none;
   transition-duration: 0.3s;
}
.contact-link li a:hover{
    
  text-decoration: underline;
}

.social-midias img{
    margin-left: 1rem;
}
 
@media (max-width: 1024px){
    .menu ul {
        font-size: 0.9rem;
    }

    .client-area {
        width: 100%;
        height: 70vh;
    }

    .clt-p {
        font-size: 1rem;
    }
    .clt-p-job {
        font-size: 0.8rem;
    }


    footer {
        height: 30vh;
        width: 100%;
    }
}
@media (max-width: 768px){
    #txt-main {
        font-size: 3rem;
        top: 5rem;
    }
    .txt-h1 {
        font-size: 2rem;
    }
    .txt-box {
        padding-right: 1rem;
        padding-left:3rem ;
    }
    #sstr-pic2 {
        width: 100%;
    }
    #sttr-pic1 {
        width: 100%;
    }
    .article-pic {
        width: 90%;
    }
    .clt-p {
        font-size: 0.8rem;
    }


}
@media (max-width: 425px){
    header{
        width: 100vw; 
    }
    .menu ul{
       display: none;  
    }
    .menu-img{
        display: block; 
        padding: 1rem; 
    }
    #menu-list{
        display: flex;
        z-index: 3;
    }
    .main-area{
        background: url(images/mobile/image-header.jpg) no-repeat center center/cover;
        height: 60vh; 
        width: 100%;
    }
    .box {
        display: flex;
        flex-direction: column;  
    }
    .txt-h1 {
        text-align: center;
    }
    .txt-p {
        font-size: 1rem;
        width: 21rem;
        text-align: center;
    }
    .box-1 a {
        margin: 0 7rem;
    }
    .box-2 a{
        margin: 0 7rem;
    }

    .box-2
    .txt-box{
        order: -1;
    }

    .box-pic {
        display: flex;
        flex-direction: column;
    }

    .area-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .client-area {
        width: 100%;
        height: 100%;
    }
    #clt-h1 {
        margin: 2rem 0 0 0;
        font-size: 1.3rem;
        width: 26rem;
        
    }
    .clt-p {
        font-size: 0.8rem;
        margin: 1rem auto 0;
    }
    .client-spc {
        width: 60%;
        margin-top: 2rem;
        text-align: center;
        transition-duration: 0.3s;
        margin-bottom: 2rem;
    }

}


@media (max-width: 375px){
    .txt-p {
        font-size: 1rem;
        width: 19rem;
        text-align: center;
    }
    .txt-box {
        padding-right: 1rem;
        padding-left: 2rem;
    }
    .clt-p {
        font-size: 0.9rem;
        margin: 1rem auto 0;
    }
    #clt-h1 {
        margin: 2rem 0 0 0;
        font-size: 1.3rem;
        width: 23rem;
    }
    .box-pic img {
        width: 100%;
        height: 100%;
        margin-top: -0.3rem;
    }
}
@media (max-width: 320px){
    .txt-h1 {
        font-size: 2rem;
        width: 17rem;
        margin-bottom: 1rem;
        font-family: 'Frauces';
        font-weight: 700;
    }
    .txt-p {
        font-size: 1rem;
        width: 16rem;
        text-align: center;
    }
    .box-1 a {
        margin: 0 5rem;
    }
    .box-2 a {
        margin: 0 5rem;
    }
    #clt-h1 {
        margin: 2rem 0 0 0;
        font-size: 1.3rem;
        width: 19rem;
    }
    .client-spc {
        width: 60%;
        margin-top: 2rem;
        text-align: center;
        transition-duration: 0.3s;
        margin-bottom: 2rem;
    }
    #txt-main {
        font-size: 2.5rem;
        top: 5rem;
        width: 19rem;
    }
}

















