*{
    padding: 0;
    margin: 0%;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-Light.ttf') format('truetype');
}

/*FRAUCES*/
@font-face {
    font-family: 'Frauces' ;
    src: url('fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') 
    format('truetype');
}


body{
    width: 100%;
}



/*HEADER*/
header{
    display: flex;
    flex-direction: row;
    background-color:hsl(200, 100%, 62%) ;
   justify-content: center ;
    font-family: 'Frauces' ;
    width: 100%;
  
}
#logo-img{
    padding: 1rem;
}
ul{
    display: flex;
    flex-direction: row;
    padding: 1rem;
   
    
}
.menu-list a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    
}
.menu-list li a:hover {
    margin-left: 1rem;
    color: white;
    border-bottom: hsl(197, 64%, 2%);
}

 #ctc{
    background-color: white;
    color: hsl(200, 100%, 62%);
    padding: 0.4rem;
    border-radius: 1rem;
    font-family: 'Frauces';
    
}
#ctc:hover{
    transition-duration: 1s;
    background-color: yellow;
    color: rgb(124, 124, 100);
}

.main-area{
    background: url(images/desktop/image-header.jpg) no-repeat center center/cover;
    height: 60vh; 
}
#txt-main{
    color: white;
    text-align: center;
    position: relative;
    top: 2rem;
    z-index: 2;
    font-size: 4rem;
    font-family: 'Frauces' ;
    font-weight: 700;
   
   
}
/* mobile menu*/

 .menu-img{
    display: none;  
}
.mobile-list{
    display: none;
}
.menu-list-mobile {
    display: flex;
    flex-direction:column;
    background-color: white;
    z-index: 2;
    box-shadow: 1px 1px 25px #00000075;
    border-radius: 1rem;
    margin: 3rem;
}
.menu-list-mobile li {
   margin-bottom: 1rem;  
  
}
.menu-list-mobile li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.69);
   
}
.menu-list-mobile li a:hover{
    text-decoration: underline;
   
}




.box{
    display: flex;
    flex-direction: row;
    margin:  auto;
}
.box img{
    width: 44.5rem;
}
.txt-box{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 5rem;
}


.box-1 a {
    color: rgba(0, 0, 0, 0.557);
    border-bottom: 0.2rem solid yellow;
    width: 7rem;
    text-decoration: none;
    font-family: 'Frauces' ;
    transition-duration: 0.5s;
   
}
 .box-1 a:hover {
    background-color: yellow;
    border-radius: 1rem;
    padding: 0.3rem;
    width: 7rem;
    color: rgb(194, 194, 71);
    box-shadow: 1rem 0.7rem 2rem rgba(0, 0, 0, 0.178);
  
  
}

 .box-2 a {
    transition-duration: 1ms;
    color: rgba(0, 0, 0, 0.353);
    border-bottom: 0.2rem solid hsl(7, 99%, 70%);
    width: 7rem;
    text-decoration: none;
    font-family: 'Frauces' ;
    transition-duration: 0.5s;
    
}
.box-2 a:hover {
    color: rgba(0, 0, 0, 0.537);
    background-color: hsl(7, 99%, 70%);
    border-radius: 1rem;
    padding: 0.3rem;
    width: 7rem;
    color: hsl(7, 64%, 47%);
    box-shadow: 1rem 0.7rem 2rem rgba(0, 0, 0, 0.402);
  
}


.txt-h1{
    font-size: 3rem;
    width: 25rem;  
    margin-bottom: 1rem;
    font-family: 'Frauces' ;
    font-weight: 700;
}
.txt-p{
    font-size: 1.4rem;
    width: 25rem;  
    margin-bottom: 1rem;
    font-family: 'Barlow';
}

/*images area*/

.box-pic{
    display: flex;
    flex-direction: row;
}
.box-pic img{
    width: 44.4rem;
}
#sttr-pic1{
    background-color: hsl(169, 45%, 70%);
    color: hsl(169, 48%, 37%);
    text-align: center;
    z-index: 2;
   
}
#sstr-pic2{
    background-color: hsl(199, 100%, 69%);
    color: hsl(199, 58%, 44%);
    text-align: center;
    z-index: 2;
}
.article-pic{
    padding: 4rem 0 4rem 0;
    margin: 0 auto;
    z-index: 2;
    margin-top: -13rem;
    width: 37rem;
   
}
.txt-h1-pic{
    font-family: 'Frauces';
}
.txt-p-pic{
    font-family: 'Barlow';
}




/*CLIENT AREA*/
article{
    width: 100%;
    height: 60vh;
}
#clt-h1{
    text-align: center;
    margin-top: 5rem;
    color: rgba(0, 0, 0, 0.485);
    font-family: 'Frauces';
    
}
.img-client{
   display: block;
   border-radius: 5rem;
   width: 25%;
   margin: 0 auto;
}

 
.client-spc{
    margin-left: 2rem;
    width: 20rem;
    margin-top: 4rem;
    text-align: center;
    margin-right: 2rem;
   transition-duration: 0.3s;
}

.client-spc:hover:first-child{
    border: 0.3rem solid rgba(255, 255, 0, 0.352);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.179);
}

.client-spc:hover:nth-child(2){
    border: 0.3rem solid hsl(169, 45%, 70%);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.179);
}
.client-spc:hover:last-child{
    border: 0.3rem solid hsla(7, 99%, 70%, 0.582);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.179);
}
.clt-p{
    width: 20rem;
    text-align: center;
    font-family: 'Barlow';
    margin: 2rem 0 0 0 ;
   
}
.clt-h2{
    text-align: center;
    margin-top: 2rem;
    font-family: 'Frauces';
}
.clt-p-job{
    text-align: center; 
    color: rgba(0, 0, 0, 0.652);
    margin-top: 0.5rem;
    font-family: 'Barlow';
}
.area-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/*imgs area before footer*/

.imgs-area{
    display: flex;
    flex-direction: row;
}
.img{
    width: 33.3%;
}







/*footer*/
footer{
    background-color: hsl(167, 43%, 70%);
    height: 32vh;
}
.items-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}
#img-logo{
   width: 10rem;
   margin-bottom: 0.5rem;
   
}
.contact-link {
    margin-bottom: 1rem;
}
.contact-link li a{
    color: hsl(168, 45%, 32%);
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: 'Frauces';
   text-decoration: none;
   transition-duration: 0.3s;
}
.contact-link li a:hover{
    
  text-decoration: underline;
}

.social-midias img{
    margin-left: 1rem;
}

@media (max-width: 1024px){
    /*header*/
    header{
        justify-content: space-around;
        height: 8vh;
        width: 100vw;
    }
   
  .main-area{
        width: 100vw;
    }
    
     
   .main-area #txt-main{
    font-size: 3rem;
      
     }

   /*box pics*/
  .box img{
    width: 39.5rem;
    margin-bottom: -0.3rem;

  }
  #sttr-pic1{
      width: 31.3rem;
      height: 12rem;
  }
  #sstr-pic2{
    width: 30rem;
    height: 12rem;
  }
  .txt-box{
      font-size: 2rem;
      padding-left: 2rem;
  }
  .txt-h1 {
    font-size: 2rem; 
    width: 17rem;
  }
  .txt-p {
    font-size: 1rem;
    width: 17rem;
  } 
  .txt-link{
    font-size: 1rem;
    width: 17rem;
   }

   .box-pic img{
    width: 32.0rem;
   }
   .article-pic {
    padding: 4rem 0 4rem 0;
    margin: 0 auto;
    z-index: 2;
    margin-top: -14rem;
    width: 20rem;
}
  
    /*client-area*/

    .clt-p{
        width: 17rem;
    }
    .imgs-area{
        display: none;
    }
    /*footer*/
    .items-footer{
        margin: 0;
    }
  
}
 
@media (max-width: 768px){
    header{
        justify-content: space-between;
        height: 8vh;
        width: 100vw;
    }
  
    .box img {
        width: 26.5rem;
        margin-bottom: -0.3rem;
    }
    .box-pic img {
        width: 48rem;
        margin-top: -1rem;
       
    }
   
    .box-pic{
        display: block;
    }
    #sttr-pic1 {
        width: 26.0rem;
        height: 12rem;
    }
    #sstr-pic2 {
        width: 26rem;
        height: 12rem;
    }
    .txt-p-pic{
        width: 43rem;
        font-size: 1.3rem;
    }
    .txt-h1-pic {
        width: 43rem;
    }
    
    /*client area*/
    .clt-p {
        width: 11rem;
       
    }
    .clt-h2 {
        text-align: center;
        margin-top: 1rem;
        font-family: 'Frauces';
        font-size: 1.2rem;
    }
    .img-client {
        display: block;
        border-radius: 5rem;
        width: 32%;
        margin: 0 auto;
    }



}

@media (max-width: 425px){
    header{
        justify-content: space-between;
        height: 8vh;
        width: 180%;
    }
   .menu{
       display: none;
   }
   .menu-img{
    display:block ;  
    padding: 1rem;
    cursor: pointer;
    
}
.mobile-list{
   display:block;
   z-index: 3;
}
.menu-list-mobile  {
    display: flex;
    flex-direction:column;
    
}

.menu-list-mobile li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.69);
   
}
.menu-list-mobile li a:hover{
    text-decoration: underline;
   
}


    .main-area {
        width: 180vw;
    }
    .box img {
        width: 26.5rem;
    }
    #clt-h1 {
        text-align: center;
        margin: 5rem -10rem 0 11rem;
        color: rgba(0, 0, 0, 0.485);
        font-family: 'Frauces';
        font-size: 2rem;
    }
    .area-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .txt-box {
        font-size: 2rem;
        padding-left: 2rem;
        margin-right: 4rem;
    }
    .clt-p {
        width: 37rem;
        font-size: 2rem;
    }
    .clt-h2 {
        text-align: center;
        margin-top: 1rem;
        font-family: 'Frauces';
        font-size: 2.2rem;
    }
    .clt-p-job {
        text-align: center;
        color: rgba(0, 0, 0, 0.652);
        margin-top: 0.5rem;
        font-family: 'Barlow';
        font-size: 1.4rem;
    }
    
    
    .img-client {
        display: block;
        border-radius: 5rem;
        width: 20%;
        margin: 0 auto;
    }
    .client-spc {
        margin-left: 2rem;
        width: 37rem;
        margin-top: 4rem;
        text-align: center;
        transition-duration: 0.3s;
        margin-left: 23rem;
    }

    article {
        width: 100%;
        height: auto;
        margin-bottom: 8rem;
    }

    footer {
        background-color: hsl(167, 43%, 70%);
        height: 32vh;
        width: 179vw;
    }
    .contact-link li a {
        
        font-size: 1.4rem;
        
    }

}

@media (max-width: 375px){
    header {
        justify-content: space-between;
        height: 8vh;
        width: 202%;
    }
    .box img {
        width: 202vw;
    }
    .txt-h1 {
        font-size: 3rem;
        width: 34rem;
        text-align: center;
    }
    .txt-p {
        font-size: 1.5rem;
        width: 34rem;
        
        text-align: center;
    }
    .txt-box {
        margin: 0 auto;
    }
    .box-1 a {
        color: rgba(0, 0, 0, 0.557);
        border-bottom: 0.2rem solid yellow;
        width: 14rem;
        text-decoration: none;
        font-family: 'Frauces';
        transition-duration: 0.5s;
        font-size: 2rem;
        margin-left: 10rem;
    }
    .box-2 a {
        margin-left: 10rem;
        width: 14rem;
        font-size: 2rem;
    }
    
    .main-area {
        width: 202vw;
    }
    .box {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    footer {
        width: 202%;
    }
    .article-pic {
        padding: 0rem 0 4rem 0;
        margin: 0 auto;
        z-index: 2;
        margin-top: -26rem;
        width: 21rem; 
        font-size: 2rem;

    }
    #clt-h1 {
        text-align: center;
        margin: 16rem -12rem 0 11rem;
        color: rgba(0, 0, 0, 0.485);
        font-family: 'Frauces';
        font-size: 2rem;
    }
    .box-pic img {
        width: 47.5rem;
        margin-top: 4rem;
    }



    .contact-link li a {
        font-size: 1.7rem;
    }
}
@media (max-width: 320px){
    header {
        justify-content: space-between;
        height: 8vh;
        width: 237vw;
    }
    .box img {
        width: 202vw;
    }
    .txt-h1 {
        font-size: 3rem;
        width: 34rem;
        text-align: center;
    }
    .txt-p {
        font-size: 1.5rem;
        width: 34rem;
        
        text-align: center;
    }
    .txt-box {
        margin: 0 auto;
    }
    .box-1 a {
        color: rgba(0, 0, 0, 0.557);
        border-bottom: 0.2rem solid yellow;
        width: 14rem;
        text-decoration: none;
        font-family: 'Frauces';
        transition-duration: 0.5s;
        font-size: 2rem;
        margin-left: 10rem;
    }
    .box-2 a {
        margin-left: 10rem;
        width: 14rem;
        font-size: 2rem;
    }
    
    .main-area {
        height: 119vh;
        width: 237vw;
    }
    .box {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    footer {
        width: 202%;
    }
    .article-pic {
        padding: 0rem 0 4rem 0;
        margin: 0 auto;
        z-index: 2;
        margin-top: -26rem;
        width: 21rem; 
        font-size: 2rem;

    }
    #clt-h1 {
        text-align: center;
        margin: 16rem -12rem 0 11rem;
        color: rgba(0, 0, 0, 0.485);
        font-family: 'Frauces';
        font-size: 2rem;
    }
    .box-pic img {
        width: 47.5rem;
        margin-top: 4rem;
    }

    .contact-link li a {
        font-size: 1.7rem;
    }
}




























