*{
    padding: 0;
    margin: 0%;
}

/*@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600;9..144,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Fraunces:opsz,wght@9..144,600;9..144,700&display=swap');


@font-face {
    font-family:'Fraunces' ;
    src: url('font/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype') ;
}
@font-face {
    font-family: 'Barlow';
    src: url('font/Barlow/') format('truetype');
}
*/

/*HEADER*/
header{
    display: flex;
    flex-direction: row;
    background-color:hsl(200, 100%, 62%) ;
    justify-content: space-between;
}
#logo-img{
    padding: 1rem;
}
ul{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    
}
li a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
}
 #btn-ctn{
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
    font-family: 'Barlow';

}

.main-area{
    background: url(images/desktop/image-header.jpg) no-repeat center center/cover;
    height: 60vh;
}
#txt-main{
    color: white;
   text-align: center;
    position: relative;
    top: 2rem;
    z-index: 2;
    font-size: 4rem;
    
}





.box{
    display: flex;
    flex-direction: row;
    margin:  auto;
}
.txt-box{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 5rem;
}
.txt-h1{
    font-size: 3rem;
    width: 25rem;  
    margin-bottom: 1rem;
}
.txt-p{
    font-size: 1.4rem;
    width: 25rem;  
    margin-bottom: 1rem;
}

.box-pic{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 70%;
}

.img-txt-box{
    background: url(images/desktop/image-graphic-design.jpg) no-repeat center center/cover;
   
}
.img-txt-box-2{
    background: url(images/desktop/image-photography.jpg) no-repeat center center/cover;
    width: 50%;
}
/*CLIENT AREA*/
article{
    width: 100%;
    height: 70vh;
}
#clt-h1{
    text-align: center;
}
.img-client{
   display: block;
   border-radius: 5rem;
   width: 20%;
   margin-left: 6rem;
   
}
.client-spc{
    margin-left: 2rem;
    width: 30rem;
    margin-top: 4rem;
}
.client-p{
    width: 20rem;
    text-align: center;
   
}
.client-h2{
    margin-top: 4rem;
    text-align: center;
}
.area-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}






.imgs-area{
    display: flex;
    flex-direction: row;
}
.img{
    width: 33.3%;
}







/*footer*/
footer{
    background-color: hsl(167, 43%, 70%);
    height: 32vh;
}
.items-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}
#img-logo{
   width: 10rem;
   margin-bottom: 0.5rem;
   
}
.contact-link li{
    color: hsl(168, 45%, 32%);
    margin-left: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.social-midias img{
    margin-left: 1rem;
}
